<% provide :title, "Revision: #{@commit.id}" %>

<h1>Revision: <%=@commit.id%></h1>

<p>Commit by <%=@commit.committer.name%> <span>at <%=@commit.committed_date.strftime '%A, %d %B %Y (%H:%M)'%></p>
<%=simple_format @commit.message%>

<h2>Files changed</h2>
<ul id="filesChanged">
	<% for diff in @diffs %>
		<li class="<%=diff.deleted_file ? 'deleted': (diff.new_file ? 'new' : 'amend')%>"><%= link_to diff.a_path, project_parent_blob_path(@project, (diff.tree.nil? ? @commit.tree.id : diff.tree.id), diff.a_blob)%></li>
	<% end %>
</ul>
