<%= breadcrumb %>

<% if not @tree.nil? %>
	<h1><%= @tree.name %></h1>
<% end %>

<% if not @path.nil? %>
	<div class="fileListing">
		<span>dir</span>
		<%= up_dir %>
	</div>
<% end %>

<% if not @tree.nil? %>

	<% @tree.trees.each do |t| %>
		<div class="fileListing">
			<span>dir</span>
			<span><%= tree t %><span>
		</div>
	<% end %>

	<% @tree.blobs.each do |b| %>
		<div class="fileListing">
			<span>file</span>
			<span><%= blob b %><span>
		</div>
	<% end %>

<% end %>