<li>
Milestone name:	<%= milestone.name %><br />
Deadline: <%= milestone.deadline %> <br />
	<%= link_to "Delete", project_milestone_path(@project, milestone), method: :delete, confirm: "You sure?" %>
	<%= link_to "Edit", edit_project_milestone_path(@project,milestone)  %>
	<%= link_to "View", project_milestone_path(@project,milestone)  %>
</li></br>
