<% provide(:title, 'Diff') %>
<h1>Diff</h1>
<p>Diff!</p>





<!-- TODO -->
<% if @diff.errors[:base] %>
	<div id="error_explanation">
		<ul>
			errors[:base] handling
			<li><%= @diff.errors[:base] %></li>
		</ul>
	</div>
<% end %>

<%= cw_form_for @diff do |f| %>
	<%= f.text_field :title %>
	<%= f.select :lang, @lexers, include_blank: true, :label => 'Language' %>
	<%= f.text_field :url_a, :label => 'Snippet A Url' %>
	<%= f.text_area :code_a, :label => 'Snippet A Code'%>
	<%= f.text_field :url_b, :label => 'Snippet A Url' %>
	<%= f.text_area :code_b, :label => 'Snippet A Code'%>
	<%= f.submit "Diff" %>
<% end %>


