<div id="top">
	<div id="logo">
		<%= link_to "", root_path %>
	</div>
	<ul id="nav">
		<li><a href="mailto:support@codewatch.pl">Contact us</a></li>
		<li><%= link_to "Help", help_path %></li>
		<li><%= link_to "Snippets", code_snippets_path %></li>
		<li><%= link_to "Diff", cw_diffs_path %></li>
		<% if @signed_in %>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
			<li>
				<a href="#">My companies</a>
				<ul>
					<% for company in @user.companies %>
						<li><a href="<%=@protocol%><%=company.slug%>.<%=@host%><%=@port%>"><%=company.name%></a></li>
					<% end%>
				</ul>
			</li>
		<% else %>
			<li><%= link_to "Sign up", signup_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>
		<% end %>
	</ul>
</div>
