<li>
Task title:	<%= task.title %><br />
Assigned user: <%=link_to task.assigned_user.name, task.assigned_user%> <br />
Owner: <%= task.owner.name %> <br />
Deadline: <%= task.deadline %> <br />
Posted: <%= task.posted %> <br />
Updated: <%= task.updated %> <br />
State: <%= task.state %> <br />
	<%= link_to "Delete", project_task_path(@project, task), method: :delete, confirm: "You sure?" %>
	<%= link_to "Edit", edit_project_task_path(@project,task)  %>
	<%= link_to "View", project_task_path(@project,task)  %>
</li></br>
