<li>
Task title:	<%= task.title %><br />
Responsible user: <%= task.responsible_user %> <br />
User (me): <%= task.user %> <br />
Description: <%= task.description %> <br />
Deadline: <%= task.deadline %> <br />
Posted: <%= task.posted %> <br />
Updated: <%= task.updated %> <br />
State: <%= task.state %> <br />
	<%= link_to "delete", task, method: :delete, confirm: "You sure?" %>
	<%= link_to "edit", edit_task_path(task)  %>
	<%= link_to "view", task  %>
</li></br>
