<% provide(:title, 'Tasks Overview') %>

<div id="projectsList">

	<% if admin? %>
		<%= link_to "Add new task", new_project_task_path(@project), :class => 'button r' %>
		<%= link_to "Add new milestone", new_project_milestone_path(@project), :class => 'button r' %>
	<% end %>

	<h4>Milestones</h4>

	<% if @milestones && @milestones.any? %>
		<ul>
			<% for milestone in @milestones %>
				<li>
					<%= link_to milestone.name, project_milestone_path(@project, milestone) %>
					<% if not milestone.deadline.nil? %>
						(Deadline: <%= milestone.deadline.strftime '%d %B %Y' %>)
					<% end %>
				</li>
			<% end %>
		</ul>
	<% else %>
		<p>You don't have any milestones.</p>
	<% end %>
</div>

<div style="margin-right: 450px;">

	<h1>Tasks overview</h1>

	<% @url = filter_project_task_path @project %>
	<%= render 'filter' %>
	
	<% if @tasks.empty? %>
		<p>There are no tasks defined.</p>
	<% else %>
		<div id="commits">
			<%= render @tasks %>
		</div>
	<% end %>
</div>

<div class="both"></div>

<script type="text/javascript">
	$(window).scroll(function() {
		if ($(window).scrollTop() + 100 > $(document).height() - $(window).height() && !scrollLoading) { 
			loadNextPage('#commits');
		}
	});	
</script>