<% provide(:title, 'Code Snippets') %>
<h1>Code Snippets</h1>

<%= cw_form_for @code_snippet, url: code_snippets_path do |f| %>
	<%= f.text_field :title %>
	<%= f.select :lang, @lexers, include_blank: true, :label => 'Language' %>
	<%= f.text_area :code %>
	<%= f.submit 'Submit' %>
<% end %>
