<% provide(:title, 'Code Snippets') %>
<h1>Code Snippets</h1>
<p>Code snippets!</p>






<%= cw_form_for @code_snippet do |f| %>
	<%= f.text_field :title %>
	<%= f.select :lang, @lexers, include_blank: true, :label => 'Language' %>
	<%= f.text_area :code %>
	<%= f.submit "Submit" %>
<% end %>

<ul>
  <%= link_to "Snippets home", code_snippets_path %>
</ul>
