<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>



<%= cw_form_for @user, :url => signup_path do |f| %>
  <%= f.text_field :mail, label: 'Email' %>
  <%= f.text_field :name, label: 'Name' %>
  <%= f.password_field :password %>
	<%= f.password_field :password_confirmation, label: 'Confirm Password' %>   
  <%= f.fields_for :user_companies do |link| %>
    <%= link.text_field :role, label: 'Company Role' %>
    <%= link.fields_for :company do |g| %>
      <%= g.text_field :name, label: 'Company Name' %>
     <% end %>
  <% end %>
  <%= f.submit "Create my account" %>
<% end %>







