<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<div class="row">

<ul>
	<li>Name: <%= @user.name %> </li>
	<li>Email: <%= @user.mail %>	</li>
	<% @user.user_companies.each do |link| %>
	<li>Company::Role: <%= link.company.name %> :: <%= link.role %>	 </li>
	<% end %>
</ul>
<%=request.host%>
</div>
