<h1>Task history entry details</h1>
<%= link_to "Task History Overview", task_tasks_histories_path(@task), class: 'button r'  %>
Task title:	<%= link_to @task.title, project_task_path(@project,@task) %><br />
Change date: <%= @tasks_history.created_at %> <br />

State: <%= state @tasks_history %> <br />
Priority: <%= priority @tasks_history %> <br />

Assigned user: <%=link_to @tasks_history.assigned_user.name, @tasks_history.assigned_user%> <br />
Owner: <%= link_to @tasks_history.owner.name, @tasks_history.owner %> <br />





