<li>
Project name:	<%= project.name %></br>
Repository type: <%= project.type %> </br>
	<%= link_to "delete", project, method: :delete, confirm: "You sure?" %>
	<%= link_to "edit", edit_project_path project  %>
	<%= link_to "view", project  %>
</li></br>
