<% provide(:title, 'Dashboard') %>

<div id="projectsList">
	<h2><%= repo_info @project%></h2>
	<h2><%= link_to 'Force update repository permissions', update_project_repo_users_path(@project), class: 'button r' %></h2>
	<br />
<!--	<%= link_to "Projects", projects_path %> <br />
	<%= link_to "Delete project", @project, method: :delete, confirm: "You sure?" %><br />-->
	

<h2>	Project name:	<%= @project.name %></h2>


	<br />
	Assigned people: <br />
	<% @users.each do |user| %>
	<%= render  template: 'projects/_project_user.html.erb', locals:  { user: user }  %>
	<% end %>
</div>

<h1><%=@project.name%> - dashboard</h1>

<%=render :template => 'projects/_dashboard'%>

<div class="both"></div>
