<h1>Sign up</h1>

<%= cw_form_for :signup, :url => { :action => "signup" } do |form| %>

	<%= form.fields_for @user do |f| %>

		<%= f.text_field :mail %>
		<%= f.text_field :name, :label => 'Username' %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation %>
	<% end %>
	
	<%= form.fields_for @company do |f| %>
		
		<%= f.text_field :name, :label => "Company name" %>
	<% end %>	
		
	<%= form.submit "Sign Up" %>
<% end %>
