<div id="top">
	<div id="logo">
		<%= link_to "", @home %>
	</div>
	<div id="branding">
		<% if not @project.nil? %>
			<%=@project.name%> <span>by</span>
		<% end %>
		<%= link_to @company.name, dashboard_path %>
	</div>
	<div class="both"></div>
	<% if signed_in? %>
		<div id="nav"<% if not @project.nil? %> class="r"<% end %>>
			<ul>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Settings", user_edit_path %></li>
				<li><%= link_to "Sign out", signout_path, method: :delete, confirm: "Are you sure?" %></li>
			</ul>
		</div>
	<% end %>
	<% if not @project.nil? %>
		<div id="subnav">
			<ul>
				<li><a href="">Source</a></li>
				<li><%=link_to "Tasks", project_tasks_path(@project)%></li>
				<li><%=link_to "Deployment", project_servers_path(@project)%></li>
				<% if has_role? UserCompany::ROLE_ADMIN, false %>
					<li class="divider"></li>
					<li><%= link_to "Edit", edit_project_path(@project)  %></li>
					<li><%= link_to "Delete", @project, method: :delete, confirm: "Are you sure?" %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="both"></div>
</div>
