<div id="top">
	<div id="logo">
		<%= link_to "", root_path %>
	</div>
	<ul id="nav">
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>	
		<li><%= link_to "Help", help_path %></li>
		<li><%= link_to "Snippets", code_snippets_path %></li>
		<li><%= link_to "Diff", new_cw_diff_path %></li>
		<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		<% else %>
			<li><%= link_to "Sign up", signup_path %></li>
			<li><%= link_to "Sign in", signin_path %></li>
		<% end %>
	</ul>
</div>
